:root{
  --darkmagenta:hsl(300,43%,22%);
  --softpink:hsl(333,80%,67%);
  --drkgrayishmagenta:hsl(300,24%,96%);

}
.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
  margin: 30px;
  font-family: 'League Spartan', sans-serif;
  
}

@media screen and (max-width: 375px) {

    .hero h1{
        color: var(--darkmagenta);
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
    }
    .rating{
        background-color: var(--drkgrayishmagenta);
        text-align: center;
        padding: 5px;
        margin-top: 15px;
        border-radius: 10px;
        color: var(--darkmagenta);
        font-weight: bolder;
    }
    
    .herodetails{
        color: var(--darkmagenta);
        text-align: center;
    }

    .profile{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap:20px;
    }

    .testimonial{
      border-radius: 5px;
      padding: 30px;
      background-color: var(--darkmagenta);
      color: white;
      
    }

    .author{
      display: flex;
      align-items: center;

    }

    .author img{
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    
    .details{
      padding: 20px;
    }

    .details p{
      margin: 2px 0 0 0;
      font-size: 16px;
    }

    .details .highlight{
      color: var(--softpink)
    }
}


@media screen and (min-width: 375px) {

  .hero{
    margin: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }

  .hero h1{
    color: var(--darkmagenta);
    font-weight: bold;
    font-size: 4rem;
    text-align: left;
}
.herodetails{
  color:var(--darkmagenta);
  font-size: 1.3rem;
}

.leftsection{
  width:40%;
}

.rightsection{
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 50px;
}
.rightsection .rating{
  margin-left: 50px;
}
.rating{
  margin-top: 50px;
}

.rating div,p{
  display: inline;

}
.rating p{
    margin-left: 40px;
    color: var(--darkmagenta);
    font-weight: bold;
}

.rating-2{
  padding-left: 40px;
}

.rating-3{
  padding-left: 80px;
}

.stars img{
  padding-right: 10px;
}

.profile{
  margin: 50px;
  display: flex;
  flex-direction: row;
  gap:20px;
  height: fit-content;
  justify-content:flex-start;
  
}

.testimonial{
  border-radius: 5px;
  padding: 30px;
  background-color: var(--darkmagenta);
  color: white;
  height: 200px;
  width: 300px;
  
}

.author{
  display: flex;
  align-items: center;

}
.author-1{
  margin-bottom: 30px;
}
.author-2{
  margin-top: 30px;
}

.author-3{
  margin-top: 60px;
}
.author img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.details{
  padding: 20px;
}

.details p{
  display: block;
  margin: 2px 0 0 0;
  font-size: 16px;
}

.details .highlight{
  color: var(--softpink);
}

}
